<ng-template [ngIf] = "products != undefined">
  <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 1px;">
      <img src="{{products[productId].ProductPicUrl}}"    
          class="d-block w-full">

<div class="px-2 py-2">
  <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
    Name
  </p>

  <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
      {{products[productId].Name}}
  </h1>
  <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
    Description
  </p>
  
  <p class="mb-1">
    {{products[productId].Description}}
  </p>

  <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
      Price
  </p>
  <p class="mb-1">
    {{products[productId].Price}} $
  </p>
    

</div>

<a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
  Add to Cart
</a>

    
</div>

</ng-template>

