<section class="test">
    <!--for demo wrap-->
    <h1>Cart</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Pictrue</th>
            <th>Description</th>
            <th>Price</th>
            <th>Delete</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0">
        <tbody>
          <ng-container *ngFor="let product of cartProducts; let i = index">
          <tr>
            <td>{{product.ProductId}}</td>
            <td>{{product.Name}} </td>
            <td> <img class="table-img" src="{{product.ProductPicUrl}}"> </td>
            <td>{{product.Description}}</td>
            <td>{{product.Price}}</td>
            <td> <app-button [name]="'X'" (clicked) ="deleteProduct(index)"></app-button></td>
          </tr>
         </ng-container>
        </tbody>
      </table>
    </div>
  </section>
  