<div id="container">	

<!-- Start	Product details -->
  <div class="product-details">
    
    <!-- 	Product Name -->
  <h1>{{name}}</h1>
<!-- 		<span class="hint new">New</span> -->
<!-- 		<span class="hint free-shipping">Free Shipping</span> -->
<!-- 		the Product rating -->
  <span class="hint-star star">
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star-half-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </span>
    
  
<!-- The most important information about the product -->
    <p class="information">{{description}}</p>

    
    
<!-- 		Control -->
<div class="control">
  
<!-- Start Button buying -->
  <button class="btn">
<!-- 		the Price -->
    <span class="price">{{price}} $</span>
<!-- 		shopping cart icon-->
    <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
<!-- 		Buy Now / ADD to Cart-->
    <span class="buy">Buy Now</span>
  </button>
  <!-- End Button buying -->
  
</div>
      
</div>
  
<!-- 	End	Product details   -->
  
  
  
<!-- 	Start product image & Information -->
  
<div class="product-image">
  
  <img src="{{imageURL}}" alt="Omar Dsoky">
  
<!-- 	product Information-->
<div class="info">
  <br>
  <h2>Options</h2>
  <ul>
    <li> <app-button [name]="'Add to Wish List'" (clicked) ="addToWishList(productId, description, name, imageURL, price)"> </app-button> 
    </li>
    <br>
    <li> <app-button [name]="'Add to Cart'" (clicked) ="addToCart(productId, description, name, imageURL, price)"> </app-button> 
    </li>
    <br>
    <!-- <li> <app-button [name]="'See Dtails'" (clicked) ="seeDetails('product/:HT-1000')"> </app-button>  -->
      <li> <app-button [name]="'See Dtails'" [routerLink]="productIndex"> </app-button> 
    </li>
    <br>
  </ul>
</div>
</div>
<!--  End product image  -->
</div>